html {
      font-size: 14px;
      font-family: 'Gloria Hallelujah', cursive;
}
html {
  background-color: #597cb6;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #e2eaf5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #597cb6;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}
h2 {
  color: #7290c3;
  text-shadow: 3px 3px 1px black;
  font-size: 45px;
  text-align: center;
}
h3 {
  color: #7290c3;
  text-shadow: 3px 3px 1px black;
  font-size: 35px;
  text-align: center;
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
}
#paragraph, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}
#poem {
  font-size: 15px;  
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}
#tips {
  font-size: 15px;  
  text-decoration: underline;
  line-height: 1.5;
  letter-spacing: 1px;
}
